body {
    margin: 0;
    min-height: fit-content;
}

#mainPage{
    background-color: rgb(221, 184, 172);
}

.linesH1{
    font-size: 30px;
}

h1 {
    color: rgb(114, 0, 0);
    text-align: center;
}

#searchBy{
    width: 120px;
    height: 20px;
}

h2{
    font-size: 22px;
}

.filters, .searchRecipieCuisineOrIngredient, .viewAllRecipies {
    display: flexbox;
    text-align: center;
}

#recipieInput{
    width: 220px;
    height: 17px;
    border: 2px solid rgb(116, 116, 116);
    font-family: Arial, Helvetica, sans-serif;
}

.viewAllRecipies{
    vertical-align: middle;
}

#mainIMG{
    height: 60vh;
}

.filterRestrictions {
    padding-left: 2em;
}

.individualMeal {
    padding: 1em;
    background-color: rgb(244, 221, 214);
    display: flex;
}

.individualMeal:nth-child(odd) {
    background-color: rgb(221, 184, 172);
}

.descriptionMeal {
    display: inline-block;
    margin-left: 2em;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.imageIndividualMeal {
    width: 150px;
    height: 150px;
    border: 2px solid rgb(49, 0, 0);
    display: inline-block;
}

button {
    background-color: rgb(198, 147, 130);
    border: 2px solid rgb(49, 0, 0);
    border-radius: 0;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#ShowAllRecipies {
    margin: 1em;
}